@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");
@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[38px] lg:text-[50px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[26px] lg:text-[38px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[12px] lg:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

body {
  --sb-track-color: #1c1c22;
  --sb-thumb-color: #00ff99;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
:root {
  --f: "YekanBakh", Arial, sans-serif;
}
.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

/* تعریف فونت‌های YekanBakh */
@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/font/woff2/YekanBakh-ExtraBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* styles.css */
.toast-container {
  font-family: "IranSans", sans-serif;
  direction: rtl;
}

.toast-success {
  background-color: #38bdf8 !important; /* رنگ سبز Tailwind */
  color: white !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.toast-error {
  background-color: #e11d48 !important; /* رنگ قرمز Tailwind */
  color: white !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.toast-body {
  font-size: 16px;
  font-weight: 500;
}

.toast-close-button {
  color: white !important;
}